.nav .mobilemenu {
    display: none;

}

/* mobile Tablet responsivaly */
@media only screen and (max-width: 848px) {

    .nav .mobilemenu {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        align-items: center;
        border-radius: 50px;
        padding: 0px;
    }

    .nav .mobilemenu .home {
        display: flex !important;
        align-items: center;
        padding: 13px 15px;

    }

    .nav .mobilemenu .home i {
        padding-left: 5px;
    }

    .nav .topnav {
        display: none !important;
    }

    .mobilemenu {
        position: relative;

    }

    .mobilemenu .submobilemenu {
        display: none;
        background-color: #fafafa;
        list-style: none;
        position: absolute;
        border-radius: 5px;
        top: 55px;
        left: -40px;
        width: 170px;
        min-width: 150px;
        padding: 0;
        -webkit-box-shadow: 0px 0px 3px 1px #f1f0f1;
        box-shadow: 0px 0px 3px 1px #f1f0f1;

    }

    .submobilemenu li {
        border-radius: 5px !important;
        padding-right: 50px;
        padding-left: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 5px;
        color: black !important;
        /* line-height: inherit !important; */

    }


    .submobilemenu>[data-active$="home"]::after {
        content: '\2713';
        padding-left: 85px;
    }

    /* this will be temporary at the moment for activating the submenu */
    .mobilemenu .submobilemenu {
        /* i will add on javaScript  */
        display: block;

    }


}